body{
  background-color: skyblue;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.Container img{
  width: 30%;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.content {
  display: flex;
  justify-content: space-around;
}

div div {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  transition: background-color 0.3s ease;
}
