.container{
    width: 80vw;
    margin: auto;
    padding: 20px;

}

.cardList{
    border: 1px solid black;
    margin: 4px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.addcard{
    border: 1px solid black;
    margin: 4px; 
    padding: 10px;
}

input{
    padding: 4px;
    margin: 4px;
    margin: 4px;
}
.card{
    width: 160px;
    border: 1px solid gray;
    box-shadow: 2px 2px;
    padding: 6px;
    border-radius: 10px;
    background-color: lightblue;
}
.card img{
    width: 100%;
}

.searche{
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}