doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', type='text/css', href='/style/style.css')
        
    body 
         form(action="/Login" method="POST")
            label Email : 
                input(type="email",name="email",id="email",required=true)
            label Password : 
                input(type="password",name="password",id="password",required=true)
            button(type="submit")  submit