<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="style/home.css">
  </head>
  <body> 
    <div class="Container">
      <div class="Section0">
        <button type="button" onClick="window.location='/login'">Login</button>
      </div>
      <div class="Section1">
        <form action="/Newpost" method="post"> 
          <textarea name="newpost" cols="30" rows="7" placeholder="Write your Question here..."></textarea>
          <button type="submit">Post</button>
        </form>
      </div>
      <div class="Section2">
        <div class="Post">No DATA FOUND </div>
      </div>
    </div>
  </body>
</html>