<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="style/Authentification.css">
  </head>
  <body> 
    <div class="Container"> 
      <h2>Login</h2>
      <form action="/Login" method="post"> 
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <div class="Alert"></div>
        <button type="submit">Login </button>
      </form>
      <p>Don't have account ? <a href="/register">Create Account  </a></p>
    </div>
  </body>
</html>