doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RegisterPage
    link(rel="stylesheet", href="style/Authentification.css")
  body
    div(class="Container")
      h2 Register
      form(action="/Login", method="post")
        label(for="Fname") First Name
        input(type="text",required="true", name="Fname")
        label(for="Lname") Last Name
        input(type="text",required="true", name="Lname")
        label(for="email") Email
        input(type="email",required="true", name="email")
        label(for="password") Password
        input(type="text", name="password",required="true", id="password", pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,}$", title="Password must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number with a minimum length of 8 characters")
        label(for="Cpassword") Confirm Password
        input(type="text", name="Cpassword",required="true", id="Cpassword", title="Password must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number with a minimum length of 8 characters")
        button(type="submit") Register
      p Already have an account?
        a(href="/Login") Login
